.head-wrap{
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-shadow: 4px 4px 40px 0 rgba(0,0,0,.05);
  box-shadow: 4px 4px 40px 0 rgba(0,0,0,.05);
  background-color: #fff;
  position: relative;
  .head-container{
    max-width: 1200px;
    margin: 0 auto;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    .right-menu,.left-menu{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  .message-tips{
    &:hover{
      background: #d2e5ff;
      display: inline-block;
      cursor: pointer;
    }
  }
  .ant-menu-horizontal{
    border-bottom: none;
  }
}
.ant-menu-submenu > .ant-menu{
  min-width: 120px;
}